

<div class="about">
    <div class="storiesabout">
    <img src="https://i.etsystatic.com/6276538/r/il/af265d/752898132/il_570xN.752898132_p0em.jpg" alt="pokerface" height = 300px wedith =300px>
    <p>PokerFace is the best IT team,assembled in GA, in the world. </p>
    </div>
    <div>
    <img src="https://miro.medium.com/max/3840/0*Hqc0RXRmrROEKLND.jpg" alt="" height = 300px wedith =1000px>
    </div>
</div>