

<form action="/search" method="get">
    <input type="text" name= "movie">
    <button> Search </button>
</form>



<ul class="movielist">
    <% @results.each do |elem| %>
    <li> <a href="/movie/<%= elem["title"] %>"><img src=<%= elem["poster"] %> alt="MOVIE" height=200 width=200> </li>
    <% end %>
</ul>




